@if (loading) {
    <h2 class="text-4xl text-slate-200">Loading...</h2>
}

@if (!loading) {
<div class="flex flex-col justify-center items-center pb-4">
    <div class="flex justify-center items-center transition-transform duration-500 hover:scale-125">
        <img class="w-1/2 md:w-1/4 pt-2" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Dragon_Ball_Z_logo.svg" alt="Logo">
    </div>
    <div class="pb-2 flex justify-center">
        <h1 class="text-3xl font-semibold transition-transform duration-500 hover:scale-125">
            <span class="text-yellow-500">Saiy</span><span class="text-red-600">ajin's</span>
        </h1>
    </div>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-5 gap-x-5 gap-y-5">
    @for (item of characterList; track $index) {
        <section class="flex flex-col justify-center items-center w-auto px-4 border border-slate-500 bg-slate-950 rounded-xl">
            <div class="border-b-2 py-2">
                <img class="w-60 h-96 shadow-sm hover:scale-125 transition-transform duration-500" src="{{item.image}}" alt="{{item.name}}">
            </div>
            <div>
                <p class="text-3xl text-center font-bold text-slate-200">{{item.name}} </p>
                <p class="text-xl text-center font-semibold text-slate-400">Ki - {{item.ki}} </p>
                <p class="text-xl text-center font-semibold text-slate-400">Max Ki - {{item.maxKi}} </p>
                <p class="text-xl text-center font-semibold text-slate-400">{{item.race}} / {{item.gender}} </p>
            </div>
            <div class="py-2 text-center">
                <button (click)="navigate(item.id)" type="button" class="bg-red-700 px-2 text-slate-200 font-semibold text-lg rounded-full hover:bg-red-900 duration-300 transition-all hover:translate-x-1">Ver +</button>
            </div>
        </section>
    }
    </div>
</div> 
}